###########
# Globals
###########

# Temporary files
/DjangoProject.sublime-project
/DjangoProject.sublime-workspace

# Build artifacts


#####################
# Platform-specific
#####################

